{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <form class="box" method="post" action="/upload/new" enctype="multipart/form-data">
                <div class="box__input">
                    <input class="box__file" type="file" name="arquivo" id="file" />
                    <label for="file"><strong>Escolha um arquivo</strong><span class="box__dragndrop"> ou arraste-o aqui</span>.</label>
                    <button class="box__button" type="submit">Upload</button>
                </div>
                <div class="box__uploading">Enviando..&hellip;</div>
                <div class="box__success">Enviado!</div>
                <div class="box__error">Erro! <span></span>.</div>
                <input name="proccess" type="hidden" value="0">
            </form> 

            <form class="text-center hidden proccessBtnDiv" action="/upload/new" method="post">
                <input name="proccess" value="1" type="hidden" />
                <input name="xmlFileName" value="" type="hidden" />
                <button id="proccessBtn" name="proccessBtn" type="submit">Processar</button> 
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
    <script src="{{ asset('bundles/app/assets/js/main.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/main.css') }}" />
{% endblock %}
