<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            .box__button {
              display: none;
            }
            .no-js .box__button {
              display: block;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
